## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal
*.vsidx

## Build results
[Dd]ebug/
[Rr]elease/

## Database files
*.db

## Lab folders
lab 8/

## Screenshots
screenshots/
